/* body 시작*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* body 끝 */

/* header 시작*/
.header {
    background-color: #000;
    color: #000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
    z-index: 1000; /* 다른 요소들보다 위에 표시되도록 설정 */
}

.logo {
    font-size: 24px;
}

.login-button,
.signup-button {
    background-color: #555;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.login-button:hover,
.signup-button:hover {
    background-color: #777;
}
/* header 끝 */

/* nav 시작 */
.navbar {
    margin-top: 70px;
    background-color: #444;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
/* nav 끝 */

/* section 시작 */
.section {
    display: flex;
}
/* section 왼쪽 */
.left-section {
    flex: 15%;
    padding: 20px;
    background-color: #f0f0f0; /* 좌측 영역 배경색 설정 */
}

 /* 아코디언 버튼이 줄바꿈되지 않도록 설정 */
/* .accordion {
    white-space: nowrap;
} */
/* 버튼을 블록 요소로 설정하여 줄바꿈을 방지합니다 */
/* .accordion-btn {
    display: block; 
    width: 50px;
} */

.accordion-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
    transition: background 0.3s ease;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.accordion-btn.active {
    background: #f9f9f9;
}

.accordion-btn.active + .accordion-content {
    max-height: 1000px;
}


/* section 오른쪽 */
.right-section {
    flex: 85%;
    padding: 20px;
}

/* section 끝 */

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}